.auth-bg {
background: url('../assets/mountain-bg.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-form input,
.auth-form select {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.auth-options {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  margin-bottom: 15px;
}

.auth-form button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-form a {
  color: #007bff;
  text-decoration: none;
}
